In [1]:
## In this sample we will use the diamond dataset

In [2]:
# load the dataset from pycaret
from pycaret.datasets import get_data
data = get_data('diamond')

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [3]:
# Data preprocessing

In [4]:
from pycaret.regression import *

In [6]:
s = setup(data, target = 'Price', 
          transform_target = True, 
          log_experiment = True, 
          #log_plots = True,
          experiment_name = 'diamond',
         )

2023/07/20 13:36:28 INFO mlflow.tracking.fluent: Experiment with name 'diamond' does not exist. Creating a new experiment.

In [7]:
# model training

In [8]:
# compare the models
best = compare_models()